@import url(components/article.css);
@import url(layouts/sidebar-list.css);

*{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: white;
}

body{
    margin: 0;
    text-align: center;
    background-color: rgba(173, 216, 230,.5);
    height: 100%;
}

.blog{
    color: chocolate;
    background-color: whitesmoke;
    border-radius: 10px;
    height: 40px;
    justify-content: center;
    margin: 20px 50px 20px 50px;
    padding-top: 15px;
    padding-bottom: 0;
}

.title{
    margin: 0 40px 5px 40px;
    background-color:lightblue;
}

.content{
    display: grid;
    grid-template-columns: 80% 20%;
}

.main{
    background-color: lightblue;
    height: auto;
    margin-right: 10px;
}

.sideBar{
    background-color: lightblue;
}

.footer{
    background-color: lightblue;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}
